APP_NAME=Risk Sentinel API
APP_VERSION=0.1.0
APP_ENV=development

API_HOST=0.0.0.0
API_PORT=8000

POSTGRES_HOST=localhost
POSTGRES_PORT=5432
POSTGRES_DB=risk_sentinel
POSTGRES_USER=risk
POSTGRES_PASSWORD=risk

REDIS_HOST=localhost
REDIS_PORT=6379

NEO4J_URI=bolt://localhost:7687
NEO4J_USER=neo4j
NEO4J_PASSWORD=password

QDRANT_URL=http://localhost:6333

REDPANDA_BOOTSTRAP_SERVERS=localhost:9092